@font-face{
    font-family: "inter";
    src: url('assets/fonts/Inter-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "cav";
    src: url('assets/fonts/Caveat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "ins";
src: url('assets/fonts/InstrumentSerif-Regular.ttf') format('truetype');
}