.Anchor{
    position: absolute;
    pointer-events: none;
    top: anchor(top);
    left: anchor(left);
     height: 50px;
     width: 100px;
     border-radius: 10px;
    background-color: rgb(255, 82, 2);
    transition: all 0.5s ease;
    z-index: 1;
    position-anchor: --unse ;
}

.links a:nth-child(1){
anchor-name: --unse;
color: white;
}
.links a:hover{
    color: white;
    anchor-name: --unse;
}

button:hover span{
    transition: all 0.3s ease;
    rotate: 0deg;
}