*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden ;
}

main{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 150px;
    height: 50px;
    background-color: rgb(148, 212, 28);
    color: white;
    font-weight: bold;
     font-family: Arial, sans-serif;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 999;
}
button:active{
    transform: scale(0.95);
}